<?xml version="1.0"?>

<model>
  <name>Object of interest for testbed</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Patrick D. Radl, RAM, University of Twente, Netherlands - </name>
    <email>p.radl@student.utwente.nl</email>
  </author>

  <description>
    model to represent the object of interrest which needs to be used with several textures for SLAM evaluation
  </description>

</model>
