<?xml version="1.0"?>

<model>
  <name>Checkerboard for stereo calibration</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Patrick D. Radl, RAM, University of Twente, Netherlands - </name>
    <email>p.radl@student.utwente.nl</email>
  </author>

  <description>
    8x6 checkerboard with 108mm squares for openCV/ROS stereo camera calibration
  </description>

</model>
